{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <main class="container mx-auto flex flex-col justify-center items-center lg:px-8">
        <div class="card mx-auto shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <figure class="px-20 pt-10"><img src="{{ asset('images/MaakMed-logo-ui.png') }}"
                                             alt="MaakMed"/></figure>
            <form class="card-body"
                  action="#"
                  method="POST"
                  novalidate>

                <h2 class="card-title mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign
                    in to your
                    account</h2>
                {% if error %}
                    <div class="text-error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="form-control">
                    <label for="username" class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" value="{{ last_username }}" name="_username" id="username"
                           class="input input-bordered" placeholder="Username" autocomplete="username" required
                    >
                </div>
                <div class="form-control">
                    <label for="password" class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="_password" id="password" class="input input-bordered"
                           placeholder="Password" autocomplete="current-password" required>
                    <label class="label">
                        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                    </label>
                </div>

                <div class="form-control">
                    <label class="label cursor-pointer mx-auto space-x-4">
                        <span class="label-text">Remember me</span>
                        <input type="checkbox" class="toggle toggle-primary" id="_remember_me"
                               name="_remember_me"/>
                    </label>
                </div>

                <div class="form-control mt-6">
                    <button class="btn btn-primary">Login</button>
                    <label class="label">
                        <span>Don't have an account? </span>
                        <a href="{{ path('app_register') }}"
                           class="label-text-alt link link-info link-hover">Sign up
                        </a>
                    </label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </form>
        </div>
    </main>


{% endblock %}
