{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1 class="text-blue-500 text-3xl mt-4 mb-2 ml-4">Change Password</h1>

    {{ form_start(form, {'attr': {'class': 'mt-10 mx-10'}}) }}

    <div class="relative my-4">
        {{ form_widget(form.current_password, {'attr': {'class': 'peer py-3 pe-0 ps-8 block w-full bg-blue-100 border-t-transparent border-b-2 border-x-transparent border-b-blue-200 text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600', 'placeholder': 'Enter current password'}}) }}
        {{ form_errors(form.current_password) }}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <!-- Your SVG icon here -->
        </div>
    </div>

    <div class="relative my-4">
        {{ form_widget(form.new_password, {'attr': {'class': 'peer py-3 pe-0 ps-8 block w-full bg-blue-100 border-t-transparent border-b-2 border-x-transparent border-b-blue-200 text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600', 'placeholder': 'Enter new password'}}) }}
        {{ form_errors(form.new_password) }}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <!-- Your SVG icon here -->
        </div>
    </div>

    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Change password</button>
    {{ form_end(form) }}
{% endblock %}