{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1 style="color: #0069AC; "class="text-blue-500 text-3xl mt-4 mb-2 ml-4">Change Password</h1>

    {{ form_start(form, {'attr': {'class': 'mt-10 mx-10', 'novalidate': 'novalidate'}}) }}

    <div class="relative my-4">
        {{ form_widget(form.current_password, {'attr': {'class': 'peer py-3 pe-0 ps-8 block w-full bg-white border-t-transparent border-b-2 border-x-transparent border-b-dark-gray text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 hover:border-b-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600', 'placeholder': 'Enter current password'}}) }}
        {{ form_errors(form.current_password) }}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <!-- Your SVG icon here -->
        </div>
    </div>

    <div class="relative my-4">
        {{ form_widget(form.new_password.first, {'attr': {'class': 'peer py-3 pe-0 ps-8 block w-full bg-white border-t-transparent border-b-2 border-x-transparent border-b-dark-gray text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 hover:border-b-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600', 'placeholder': 'Enter new password'}}) }}
        {{ form_errors(form.new_password.first) }}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <!-- Your SVG icon here -->
        </div>
    </div>

    <div class="relative my-4">
        {{ form_widget(form.new_password.second, {'attr': {'class': 'peer py-3 pe-0 ps-8 block w-full bg-white border-t-transparent border-b-2 border-x-transparent border-b-dark-gray text-sm focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 hover:border-b-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600', 'placeholder': 'Confirm new password'}}) }}
        {{ form_errors(form.new_password.second) }}
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-2 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
            <!-- Your SVG icon here -->
        </div>
    </div>

    <button type="submit" class="btn btn-accent text-white py-2 px-4 rounded">Change password</button>
    <a href="{{ path('profile') }}" class="btn btn-active text-white py-2 px-4 rounded">Back to Profile</a>
    {{ form_end(form) }}
{% endblock %}