{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex justify-center ">
        <div class="sm:w-full sm:max-w-sm">
            <h1 class="text-center text-2xl font-bold leading-9 tracking-tight text-accent">
                Register</h1>
        </div>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md lg:max-w-lg p-6 bg-white sm:shadow-md sm:rounded-md sm:border my-5">
        <h3 class="text-center my-4 text-xl font-bold leading-9 tracking-tight text-primary">Join MaakMed as
            a</h3>
        {% set form_names = forms|map((f) => f.vars.name) %}
        <style>
            {% for name in form_names %}
            :has(input[name="user_type"][value="{{ name }}"]:not(:checked))
            form[name="{{ name }}"] {
                display: none;
            }

            {% endfor %}
        </style>

        <fieldset name="type" class="flex items-center justify-center space-x-2 my-4">
            <div class="join join-horizontal">
                {% set current = (forms|filter((f) => f.vars.submitted) ?: forms)|first.vars.name %}
                {% for name in form_names %}
                    <input type="radio" aria-label="{{ name|capitalize }}" class="btn join-item min-w-28"
                           name="user_type"
                           value="{{ name }}" {{ name == current ? 'checked' }}>
                {% endfor %}
            </div>
        </fieldset>


        <div data-turbo="false" class="flex flex-col items-center justify-center">
            {% for form in forms %}
                {% form_theme form 'registration/_form_theme_registration.html.twig' %}
                {{ form_start(form, {attr: {novalidate: 'true'}}) }}
                {{ form_rest(form) }}
                <div class="flex justify-center items-center">
                    <button type="submit" class="btn btn-primary mx-auto">Register
                        as {{ form.vars.name|capitalize }}</button>
                </div>
                {{ form_end(form) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
