{# @var user \App\Entity\User #}
{% props user = null %}
<div {{ attributes }} class="relative">

    <div class="card card-side card-bordered bg-base-100 shadow-xl w-[26rem] min-h-[14rem] hover:scale-105 hover:border-t-accent">
        <figure>
            <img class="object-contain w-[80px] h-[80px] m-[10px]"
                 src="{{ asset('images/' ~ user.iconPath) }}"
                 alt="{{ user.username }}"/>
        </figure>
        <div class="card-body w-[10rem]">
            <h2 class="card-title text-[#0069AC] truncate"> Username: <a class="link link-hover"
                                                                href="{{ path('user_profile', {username: user.username}) }}">{{ user.username }}</a>
            </h2>
            <p style="color: red; font-size: 0.8em; font-style: italic;"> Role: {{ user.roleName }}</p>
            {% if user.email is not null %}
                <p class="bold-text"><span style="color: #41C9E2;">Email:</span> <span
                            style="color: black;">{{ user.email }}</span></p>
            {% endif %}
            {% if 'ROLE_ADMIN' app.user.roles %}
                <form method="post" action="{{ path('user_ban', {'id': user.id}) }}"
                      onsubmit="return confirm('Are you sure you want to ban this user?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('ban' ~ user.id) }}">
                    <button type="submit" class="btn btn-warning">Ban</button>
                </form>
            {% endif %}

        </div>
    </div>
</div>