<div {{ attributes }}>
    {% if editing %}

        <button
                type="button"
                class="btn btn-primary"
                data-action="live#action"
                data-live-action-param="save"
        >
            Save

        </button>
        <button
                type="button"
                class="btn btn-primary"
                data-action="live#action"
                data-live-action-param="generateAndUploadFile"
        >
            Generate and Upload File
        </button>
        {% form_theme form 'components/Inventory/_form_theme_inventory.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
    {% endif %}


    <!-- Add this div to display the returned link -->
    <a id="fileio-link">{{ fileLink }}</a>


</div>