<div {{ attributes }}>
    {% if editing %}


        {% form_theme form 'components/Inventory/_form_theme_inventory.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% else %}
    {% endif %}


    <!-- Add this div to display the returned link -->
    <a id="fileio-link">{{ fileLink }}</a>
    <button
            type="button"
            class="btn btn-primary"
            data-action="live#action"
            data-live-action-param="save"
    >
        Save

    </button>
    <button
            type="button"
            class="btn btn-primary"
            data-action="live#action"
            data-live-action-param="generateAndUploadFile"
    >
        Generate and Upload File
    </button>
    <a href="{{ path('app_inventory_export') }}" class="btn btn-primary">Export Inventory</a>

    <div class="toast">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
