{% extends 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <main class="md:container md:mx-auto px-6 scroll-smooth mb-8">
        <div class="prose"><h1 id="visits">Visits</h1></div>

        {% if is_granted('ROLE_DOCTOR') %}
            <div class="flex">
                <a class="btn btn-primary mt-8 mb-12" href="{{ path('app_visit_new') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                    </svg>
                    New visit
                </a>
            </div>
        {% endif %}

        {% if filters %}
            <section class="grid justify-start">
                <div class="prose">
                    <h2>Filters</h2>
                    <ul>
                        {% if filters.patient is defined %}
                            <li>Patient: <a
                                        href="{{ path('app_visit_index', {'patient': filters.patient.username}) }}"
                                >{{ filters.patient.fullName }}</a>
                            </li>
                        {% endif %}
                        {% if filters.doctor is defined %}
                            <li>Doctor: <a
                                        href="{{ path('app_visit_index', {'doctor': filters.doctor.username}) }}"
                                >{{ filters.doctor.fullName }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <a class="btn mx-auto" href="{{ path('app_visit_index') }}">Clear Filters</a>
            </section>
        {% endif %}

        <section class="container flex flex-wrap justify-center md:justify-start gap-4 pt-10">
            {% for visit in visits %}
                <twig:Visit:Card visit="{{ visit }}"/>
            {% endfor %}
        </section>
        <div class="grid justify-end">
            <a
                    class="fixed bottom-4 start-4 md:bottom-16 md:start-16 btn rounded-full"
                    role="button"
                    href="#visits"
                    id="btn-back-to-top">
            <span class="[&>svg]:w-4">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"/>
              </svg>
            </span>
            </a>
        </div>
    </main>

    <div class="toast">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div role="alert" class="alert alert-{{ label }}">
                    <span class="text-white">{{ message }}</span>
                    <button onclick="this.parentNode.remove()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path class="text-white" fill-rule="evenodd"
                                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
