{% extends 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <h1>Visits</h1>

    {% if filters %}
        <section>
            <h2>Filters</h2>
            {% if filters.patient is defined %}
              <h3>Patient: <a href="{{ path('app_visit_index', {'patient': filters.patient.username}) }}">{{ filters.patient.fullName }}</a></h3>
            {% endif %}
            {% if filters.doctor is defined %}
              <h3>Doctor: <a href="{{ path('app_visit_index', {'doctor': filters.doctor.username}) }}">{{ filters.doctor.fullName }}</a></h3>
            {% endif %}
            <a href="{{ path('app_visit_index') }}">Clear Filters</a>
        </section>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_ADMIN') %}
                    <th>Patient</th>
                {% endif %}
                {% if is_granted('ROLE_PATIENT') or is_granted('ROLE_ADMIN') %}
                    <th>Doctor</th>
                {% endif %}
                <th>Type</th>
                <th>Diagnosis</th>
                    <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.id }}</td>
                <td>{{ visit.date ? visit.date|date('Y-m-d') : '' }}</td>
                {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('app_visit_index', {'patient': visit.patient.username}) }}">{{ visit.patient.fullName }}</a></td>
                {% endif %}
                {% if is_granted('ROLE_PATIENT') or is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('app_visit_index', {'doctor': visit.doctor.username}) }}">{{ visit.doctor.fullName }}</a></td>
                {% endif %}
                <td>{{ visit.type.displayName }}</td>
                <td>{{ visit.diagnosis }}</td>
                    <td>
                        <a href="{{ path('app_visit_show', {'id': visit.id}) }}">show</a>
                        {% if is_granted('ROLE_DOCTOR') %}
                            <a href="{{ path('app_visit_edit', {'id': visit.id}) }}">edit</a>
                        {% endif %}
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no visits</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_DOCTOR') %}
        <a href="{{ path('app_visit_new') }}">Create new</a>
    {% endif %}
{% endblock %}
