<div{{ attributes.defaults(client != null ? stimulus_controller("diagnosis") : {}) }} >
    {% form_theme form 'form/daisyui_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="container grid gap-4 mt-4">
        {{ form_errors(form) }}
        <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1 flex space-x-2 items-center">
                {{ form_label(form.patient) }}
                {{ form_widget(form.patient) }}
                <twig:Form:ErrorTooltip field="{{ form.patient }}"/>
            </div>
            <div class="col-span-1 flex space-x-2 items-center">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                <twig:Form:ErrorTooltip field="{{ form.type }}"/>
            </div>
        </div>
        <div class="divider divider-vertical"></div>
        <div class="flex items-center space-x-4">
            <div class="prose"><h3>Diagnosis</h3></div>
            <twig:Form:ErrorTooltip field="{{ form.diagnosis }}"/>
            <pre class="invisible ml-2" data-loading="action(genCompletion)|removeClass(invisible)">Loading completion...   <span class="loading loading-spinner loading-xs"></span></pre>
        </div>
        <div class="relative mb-96">
            {{ form_widget(form.diagnosis, {
                attr: {
                  class: 'textarea absolute textarea-bordered textarea-lg w-full resize-none min-h-96',
                  ...stimulus_target("diagnosis", "writingArea"),
                  ...(
                      client != null ? (
                          stimulus_action("diagnosis", "dismissSuggestion")|
                          stimulus_action("diagnosis", "dismissSuggestion", "focusout")|
                          stimulus_action("diagnosis", "dismissSuggestion", "keydown.esc")|
                          stimulus_action("diagnosis", "autoSuggest")|
                          stimulus_action("diagnosis", "requestSuggestion", 'keydown.ctrl+space')|
                          stimulus_action("diagnosis", "acceptSuggestion:prevent", 'keydown.tab')
                      ) : {}
                  )

                }
            }) }}
            <div
              tabindex="-1"
              class="textarea bg-transparent border-transparent text-gray-500 outline-transparent absolute textarea-lg w-full min-h-96 pointer-events-none whitespace-pre-wrap text-wrap overflow-hidden"
              {{ client != null ? stimulus_target("diagnosis", "suggestion") }}
            ></div>
        </div>
        {{ form_help(form.diagnosis) }}
        <button class="btn btn-primary mx-auto">{{ buttonLabel|default('Save') }}</button>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
