<div {{ attributes.defaults({...stimulus_controller('tomselect-cleaner'), ...stimulus_action('tomselect-cleaner', 'clearFilters', 'filters:clear')}) }}>
    <div class="prose"><h1 id="visits">Visits</h1></div>

    {% if is_granted('ROLE_DOCTOR') %}
        <div class="flex mb-2">
            <a class="btn btn-primary mt-8 mb-12" href="{{ path('app_visit_new') }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                </svg>
                New visit
            </a>
        </div>
    {% endif %}

    <section id="filters" class="grid justify-start mb-4">
        <div class="prose">
            <h2>Filters</h2>
            <ul>
                {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_ADMIN') %}
                    <li><label>
                            Patient:
                            <select
                                    name="patient"
                                    data-model="patient"
                                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                        url: path('ux_entity_autocomplete', {alias: 'patient'}),
                                        noResultsFoundText: 'No such patient',
                                    }) }}
                                    {{ stimulus_target('tomselect-cleaner', 'picker') }}
                            ></select>
                        </label>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_PATIENT') or is_granted('ROLE_ADMIN') %}
                    <li>
                        <label>
                            Doctor:
                            <select
                                    name="doctor"
                                    data-model="doctor"
                                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                        url: path('ux_entity_autocomplete', {alias: 'doctor'})
                                    }) }}
                                    {{ stimulus_target('tomselect-cleaner', 'picker') }}
                            ></select>
                        </label>
                    </li>
                {% endif %}

                <li>
                    <label>
                        Category:
                        <select class="select select-bordered" name="category" data-model="category">
                            <option value="">All</option>
                            {% for category in this.categories %}
                                <option value="{{ category.value }}">{{ category.displayName }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </li>
            </ul>
        </div>
        {# <a class="btn mx-auto" href="{{ path('app_visit_index') }}">Clear Filters</a> #}
        <button class="btn mx-auto"
                data-action="live#action"
                data-live-action-param="clearFilters"
                data-loading="addAttribute(disabled)"
        >Clear Filters
        </button>
        <!-- <span data-loading="action(clearFilters)|show">Loading</span> -->
    </section>

    <section class="mb-4">
        <div class="prose">
            <h2>Sorting</h2>
            <label class="swap">

                <input type="checkbox" name="sorting" data-model="orderDir"/>

                <!-- Arrow Down ( descending ) -->
                <svg class="swap-on size-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"/>
                </svg>

                <!-- Arrow Up ( ascending ) -->
                <svg class="swap-off size-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25"/>
                </svg>

            </label>
        </div>
    </section>

    <div class="mb-2 prose" data-loading="addClass(opacity-50)">

        <h3>{{ computed.visits|length }} visits</h3>

    </div>

    <section data-loading="addClass(opacity-50)"
             class="container flex flex-wrap justify-center md:justify-start gap-4 pt-10">
        {% for visit in computed.visits %}
            <twig:Visit:Card visit="{{ visit }}"/>
        {% endfor %}
    </section>
    <div class="grid justify-end">
        <a
                class="fixed bottom-4 start-4 md:bottom-16 md:start-16 btn rounded-full"
                role="button"
                {{ stimulus_controller('scroll-to') }}
                href="#visits"
                id="btn-back-to-top">
            <span class="[&>svg]:w-4">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"/>
              </svg>
            </span>
        </a>
    </div>
</div>
