{% extends ('ROLE_ADMIN' in app.user.roles) ? 'base_admin.html.twig' : 'base.html.twig' %}


{% block title %}List of InsurancePlans{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center mt-3 mb-4">Insurance Plan</h1>
    <div class="flex flex-col items-end" {{ stimulus_controller("insurancePlan") }}>
        <div class="mb-4">

            <div class="flex items-center">
                <select class=" w-44 bg-gray-200 rounded border-secondary p-2 focus:ring-2 focus:ring-secondary mr-2"
                        id="costFilter">
                    <option value="">Select cost filter</option>
                    <option value="high">High</option>
                    <option value="low">Low</option>
                </select>
                <div class="flex items-center">
                    <select class=" w-44 bg-gray-200 rounded border-0 p-2 focus:ring-2 focus:ring-blue-600 mr-2"
                            id="ceilingFilter">
                        <option value="">Select ceiling filter</option>
                        <option value=">">Above 1000TND</option>
                        <option value="<">Below 1000TND</option>
                    </select>
                </div>
                <input type="text" class=" mr-2 bg-gray-200 rounded border-0 p-2 focus:ring-2 focus:ring-blue-600"
                       id="searchBar" placeholder="Search...">
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Reimbursement Rate</th>
                <th>Ceiling</th>
            </tr>
            </thead>
            <tbody>
            {% for insurancePlan in insurancePlans %}
                <tr>
                    <td>{{ insurancePlan.name }}</td>
                    <td>{{ insurancePlan.description }}</td>
                    <td>{{ insurancePlan.cost }}</td>
                    <td>{{ insurancePlan.reimbursementRate }}</td>
                    <td>{{ insurancePlan.ceiling }}</td>
                    <td><a class="btn btn-primary text-white"
                           href="{{ path('app_insurancePlan_edit', {'id': insurancePlan.id}) }}">Update</a></td>
                    <td><a class="btn btn-primary text-white" data-turbo-method="post"
                           href="{{ path('app_insurancePlan_delete', {'id': insurancePlan.id}) }}">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="flex items-center justify-center ">
            <a class="px-8 py-4  btn btn-primary  text-white rounded inline-block mt-8 font-semibold   "
               href="{{ path('app_insurancePlan_add') }}">Create new Insurance Plan</a>
        </div>

    {% endif %}
{% endblock %}

