<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
          .bg-blue-teal-gradient {
            background: #3082cf;
            background: linear-gradient(90deg, #3082cfff 0%, #38b2acff 100%);
          }
          :has(#menu-toggle:checked) {
            #menu  {
              display: block;
            }
          }
        </style>
    </head>
    <body class="min-h-screen">
        <header class="bg-blue-teal-gradient top-0 left-0 w-full z-50 px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64">

          <div class="flex flex-wrap items-center justify-between py-4">
            <div class="w-1/2 md:w-auto">
              <a href="{{path("app_home")}}" class="text-white font-bold text-2xl">
                MaakMed</a>
            </div>

            <label for="menu-toggle" class="pointer-cursor md:hidden block"><svg class="fill-current text-white"
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
              </svg></label>

            <input class="hidden" type="checkbox" id="menu-toggle">

            <div class="hidden md:block w-full md:w-auto" id="menu">
              <nav
                class="w-full bg-white md:bg-transparent rounded shadow-lg px-6 py-4 mt-4 text-center md:p-0 md:mt-0 md:shadow-none">
                <ul class="md:flex items-center">
                  <li class="md:ml-4"><a class="py-2 inline-block md:text-white md:px-2 font-semibold"
                      href="{{path("app_insurancePlan_list")}}">Plans</a></li>
                  <li class="md:ml-4"><a class="py-2 inline-block md:text-white md:px-2 font-semibold"
                      href="#">Testimonials</a></li>
                  <li class="md:ml-4 md:hidden lg:block"><a class="py-2 inline-block md:text-white md:px-2 font-semibold"
                      href="#">Blog</a></li>
                  <li class="md:ml-4"><a class="py-2 inline-block md:text-white md:px-2 font-semibold" href="#">Contact
                      Us</a></li>
                  {% if not is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
                    <li class="md:ml-6 mt-3 md:mt-0">
                      <a class="inline-block font-semibold px-4 py-2 text-white bg-blue-600 md:bg-transparent md:text-white border border-white rounded"
                        href="{{path("app_login")}}">Login</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
