<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>
        .bg-blue-teal-gradient {
            background: #5c99d6;
            background: linear-gradient(90deg, #38b2acff 40%, #5c99d6ff 100%);
        }
    </style>
</head>
<body class="min-h-screen">
<header class="sticky lg:z-50 backdrop-blur transition-colors duration-500 top-0 left-0 w-full bg-base-100/80 lg:border-b lg:border-slate-900/10 z-50 px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64">
    <nav class="navbar">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li>
                        <a>Parent</a>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </li>
                    <li><a>Item 3</a></li>
                </ul>
            </div>
            <a href="{{ path("app_home") }}" class="btn btn-ghost text-primary text-2xl">MaakMed</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% if not app.user %}
                    {# TODO: Visitor #}
                {% elseif is_granted('ROLE_PATIENT') %}
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_prescription_index") }}">Prescription</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_visit_index") }}">Visit</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_invoice_index") }}">Invoice</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_insurance_plan_ListPlans") }}">My plans</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_issue_index") }}">Issue</a></li>
                {% elseif is_granted('ROLE_DOCTOR') %}
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_medication_index") }}">Medication</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_prescription_index") }}">Prescription</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_visit_index") }}">Visit</a></li>
                {% elseif is_granted('ROLE_PHARMACY') %}
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_medication_index") }}">Medication</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_inventory_index") }}">Inventory</a></li>
                    <li class="text-sm leading-6 font-semibold text-slate-700"><a href="{{ path("app_invoice_index") }}">Invoice</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-end">
            {% if app.user %}
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar placeholder">
                        <div class="bg-neutral text-neutral-content rounded-full w-12">
                            <span>{{ app.user.avatarString }}</span>
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li>
                            <a href="{{ path("profile") }}" class="justify-between">
                                Profile
                            </a>
                        </li>
                        {% if is_granted('ROLE_DOCTOR') %}
                            <li>
                                <a href="{{ path("app_news_index") }}" class="justify-between">
                                    News
                                </a>
                            </li>
                        {% endif %}
                        <li><a href="{{ path("app_logout") }}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path("app_login") }}" class="btn text-lg text-primary btn-ghost">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="h-1 bg-primary w-full start-0 fixed z-50" {{ stimulus_controller("scroll-progress") }}></div>
</header>

{% block body %}{% endblock %}
</body>
</html>