{% props visit = null %}
<div{{ attributes }}>
  <article class="card w-[30rem] h-[25rem] bg-base-100 shadow-xl">
    <div class="card-body">
      <header class="card-title">
        {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_ADMIN') %}
          <span>Patient:</span>
          <a class="link link-hover link-primary truncate"
            href="{{ path('app_visit_index', {'patient': visit.patient.username}) }}"
          >{{ visit.patient.fullName}}</a>
        {% endif %}
        {% if is_granted('ROLE_PATIENT') or is_granted('ROLE_ADMIN') %}
          <span>Doctor:</span>
          <a class="link link-hover link-primary truncate"
            href="{{ path('app_visit_index', {'doctor': visit.doctor.username}) }}"
          >{{ visit.doctor.fullName}}</a>
        {% endif %}
      </header>
      <div class="flex justify-center space-x-4">
        <a href="{{path('app_visit_index', {'date': visit.date|date('Y-m-d')})}}" class="badge badge-ghost">{{ visit.date|date('F j, Y') }}</a>
        <a href="{{path('app_visit_index', {'type': visit.type.displayName})}}" class="badge badge-accent">{{ visit.type.displayName }}</a>
      </div>
      <div class="divider"></div>
      <div class="prose">
        <h2>Diagnosis</h2>
        <p class="line-clamp-3">{{ visit.diagnosis }}</p>
      </div>
      <div class="card-actions justify-center mt-auto">
        <ul class="menu menu-horizontal bg-base-200 rounded-box mt-6">
          {% if is_granted('ROLE_DOCTOR') %}
            <li>
              <a href="{{ path('app_visit_edit', {'id': visit.id}) }}" class="link link-primary tooltip" data-tip="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{{ path('app_visit_show', {'id': visit.id}) }}" class="link tooltip" data-tip="Show">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
