{% form_theme form 'components/Invoice/_form_theme_invoice.html.twig' %}

<div{{ attributes }}>
    {{ form_start(form) }}

      {{ form_errors(form) }}
      {{ form_row(form.patient) }}
      {{ form_errors(form.invoiceEntries) }}
      {{ form_row(form.invoiceEntries) }}
      {{ form_rest(form) }}

      <button class="btn btn-primary">{{ buttonLabel|default('Save') }}</button>

    {{ form_end(form) }}
</div>
