{% form_theme form 'components/Invoice/_form_theme_invoice.html.twig' %}

<div{{ attributes }}>
    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.patient) }}
    {{ form_errors(form.invoiceEntries) }}
    {{ form_row(form.invoiceEntries) }}
    {{ form_rest(form) }}

    <div class="grid py-3">
        <button class="btn btn-primary place-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            {{ buttonLabel|default('Save') }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
